<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <main>
      <div>
        <div class="main__container">
          <%- include('../partials/assignment'); %> <%-
          include('../partials/coding-question'); %> <%-
          include('../partials/editor'); %>
        </div>
      </div>
    </main>
    <%- include('../partials/footer'); %> <%- include('../partials/scripts'); %>
  </body>
</html>
