<!DOCTYPE html>
<html>
  <head>
    <%- await include('../partials/head'); %>
  </head>
  <body>
    <main>
      <div>
        <div class="main__container">
          <div><%- await include('../partials/assignment'); %></div>
          <div><%- await include('../partials/coding-question'); %></div>
          <div><%- await include('../partials/editor'); %></div>
        </div>
      </div>
    </main>
    <div><%- await include('../partials/footer'); %></div>
    <%- await include('../partials/scripts'); %>
  </body>
</html>
